{% include 'base.html' %}

{% block content %}

    <p><a href="{% url 'companies:recruiter-list' %}">Go back to recruiter list</a></p>
    <ul>
        <li>Name: {{ company.name }}</li>
        <li>Website: {{ company.website }}</li>
        <li>Owner: {{ company.owner }}</li>
        <li>Total applicants: {{ total_applicant_number }}</li>
    </ul>
    <ul>
        <p>Applicant list:</p>
        {% for applicant in company.applicants.all %}
            <li>{{ applicant }}</li>
        {% endfor %}
    </ul>
        <ul>
        <p>Recruiter list:</p>
        {% for recruiter in company.recruiter_set.all %}
            <li>{{ recruiter }}</li>
        {% endfor %}
    </ul>

{#    <p><a href='{% url 'companies:recruiter-update' recruiter.id %}'>Update recruiter</a></p>#}
{#    <p><a href='{% url 'companies:recruiter-delete' recruiter.id %}'>Delete recruiter</a></p>#}

{% endblock content %}